USE [master]
GO
/****** Object:  Database [QuanLyDatSan]    Script Date: 06/18/2026 04:47:42 PM ******/
CREATE DATABASE [QuanLyDatSan]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyDatSan', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLyDatSan.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyDatSan_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLyDatSan_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyDatSan].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyDatSan]
GO
/****** Object:  Table [dbo].[CoSo]    Script Date: 06/18/2026 04:47:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CoSo](
	[MaCS] [varchar](10) NOT NULL,
	[TenCS] [nvarchar](100) NULL,
	[HinhAnh] [varchar](50) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[LinkMap] [varchar](500) NULL,
	[MucGia] [nvarchar](50) NULL,
	[MaLoaiCS] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTHD]    Script Date: 06/18/2026 04:47:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHD](
	[MaCTHD] [varchar](10) NOT NULL,
	[MaHoaDon] [varchar](10) NULL,
	[NgayDat] [date] NULL,
	[LoaiSan] [nvarchar](10) NULL,
	[SoSan] [int] NULL,
	[SoGioDat] [float] NULL,
	[GiaTien] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMucSan]    Script Date: 06/18/2026 04:47:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucSan](
	[MaDanhMuc] [varchar](20) NOT NULL,
	[LoaiSan] [nvarchar](30) NULL,
	[MaCS] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 06/18/2026 04:47:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHoaDon] [varchar](10) NOT NULL,
	[MaLichDat] [varchar](10) NULL,
	[MaKhachHang] [varchar](10) NULL,
	[MaNV] [varchar](10) NULL,
	[NgayTao] [datetime] NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichDat]    Script Date: 06/18/2026 04:47:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichDat](
	[MaLichDat] [varchar](10) NOT NULL,
	[MaKhachHang] [varchar](10) NULL,
	[MaSan] [varchar](10) NULL,
	[ThoiGianBatDau] [datetime] NULL,
	[ThoiGianKetThuc] [datetime] NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLichDat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiCoSo]    Script Date: 06/18/2026 04:47:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiCoSo](
	[MaLoaiCS] [varchar](10) NOT NULL,
	[TenLoaiCS] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiCS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 06/18/2026 04:47:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [varchar](10) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[SDT] [varchar](12) NULL,
	[Email] [varchar](50) NULL,
	[CCCD] [varchar](15) NULL,
	[MaQTV] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanCong]    Script Date: 06/18/2026 04:47:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanCong](
	[MaPC] [int] IDENTITY(1,1) NOT NULL,
	[MaNV] [varchar](10) NULL,
	[MaCS] [varchar](10) NULL,
	[GhiChu] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanQuyen]    Script Date: 06/18/2026 04:47:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanQuyen](
	[MaQTV] [varchar](20) NOT NULL,
	[MaQuyen] [varchar](50) NOT NULL,
	[GhiChu] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaQTV] ASC,
	[MaQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuanTriVien]    Script Date: 06/18/2026 04:47:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuanTriVien](
	[MaQTV] [varchar](20) NOT NULL,
	[LoaiQTV] [nvarchar](20) NULL,
	[TenDangNhap] [varchar](50) NOT NULL,
	[MatKhau] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaQTV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quyen]    Script Date: 06/18/2026 04:47:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quyen](
	[MaQuyen] [varchar](50) NOT NULL,
	[TenQuyen] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[San]    Script Date: 06/18/2026 04:47:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[San](
	[MaSan] [varchar](10) NOT NULL,
	[SoSan] [int] NULL,
	[GiaSan] [float] NULL,
	[MaDanhMuc] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 06/18/2026 04:47:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaTK] [varchar](10) NOT NULL,
	[MaKH] [varchar](10) NULL,
	[username] [varchar](12) NULL,
	[password] [varchar](12) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_KhachHang]    Script Date: 06/18/2026 04:47:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_KhachHang](
	[MaKH] [varchar](10) NOT NULL,
	[username] [varchar](12) NOT NULL,
	[password] [varchar](12) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[SoDienThoai] [varchar](12) NULL,
	[Email] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CoSo] ([MaCS], [TenCS], [HinhAnh], [DiaChi], [LinkMap], [MucGia], [MaLoaiCS]) VALUES (N'bt', N'Sân cầu lông Bình Thái', N'sCauLong_BinhThai.jpg', N'18 Xa lộ Hà Nội, Phước Long B, Quận 9, Hồ Chí Minh', N'https://maps.app.goo.gl/VxqzCRAfsBcMqh2R8', N'50.000đ - 80.000đ', N'cauLong')
INSERT [dbo].[CoSo] ([MaCS], [TenCS], [HinhAnh], [DiaChi], [LinkMap], [MucGia], [MaLoaiCS]) VALUES (N'CDCN', N'Sân Tennis CĐ Công Nghệ Thủ Đức', N'sTennis_CDCN.jpg', N'Võ Văn Ngân, Linh Chiểu, Thủ Đức, Thành phố Hồ Chí Minh, Việt Nam', N'https://maps.app.goo.gl/wavw9NKiqzVSP5aC6', N'100.000đ - 180.000đ', N'quanVot')
INSERT [dbo].[CoSo] ([MaCS], [TenCS], [HinhAnh], [DiaChi], [LinkMap], [MucGia], [MaLoaiCS]) VALUES (N'cob', N'Sân vận động Hoa Lư', N'san-bong-ro-puzzle.jpg', N'Số 2 Đinh Tiên Hoàng, Đa Kao, Quận 1, Hồ Chí Minh', N'https://maps.app.goo.gl/zh8wVMa6No8JbNrC9', N'200.000đ - 600.000đ', N'bongRo')
GO
INSERT [dbo].[CTHD] ([MaCTHD], [MaHoaDon], [NgayDat], [LoaiSan], [SoSan], [SoGioDat], [GiaTien]) VALUES (N'001', N'001', CAST(N'2026-05-19' AS Date), N'Sân 5', 1, 1, 350000)
INSERT [dbo].[CTHD] ([MaCTHD], [MaHoaDon], [NgayDat], [LoaiSan], [SoSan], [SoGioDat], [GiaTien]) VALUES (N'002', N'002', CAST(N'2026-05-20' AS Date), N'Sân 5', 1, 1, 300000)
INSERT [dbo].[CTHD] ([MaCTHD], [MaHoaDon], [NgayDat], [LoaiSan], [SoSan], [SoGioDat], [GiaTien]) VALUES (N'003', N'003', CAST(N'2026-06-20' AS Date), N'Sân 5', 1, 3, 300000)
GO
INSERT [dbo].[DanhMucSan] ([MaDanhMuc], [LoaiSan], [MaCS]) VALUES (N'BR_3X3_COB', N'3X3', N'cob')
INSERT [dbo].[DanhMucSan] ([MaDanhMuc], [LoaiSan], [MaCS]) VALUES (N'BR_3X3_CV', N'3X3', N'cv')
INSERT [dbo].[DanhMucSan] ([MaDanhMuc], [LoaiSan], [MaCS]) VALUES (N'BR_3X3_MNT', N'3X3', N'mnt')
GO
INSERT [dbo].[HoaDon] ([MaHoaDon], [MaLichDat], [MaKhachHang], [MaNV], [NgayTao], [TrangThai]) VALUES (N'001', N'001', N'002', N'PDH', CAST(N'2026-05-18T16:15:31.333' AS DateTime), N'Đặt sân')
INSERT [dbo].[HoaDon] ([MaHoaDon], [MaLichDat], [MaKhachHang], [MaNV], [NgayTao], [TrangThai]) VALUES (N'002', N'002', N'002', N'PDH', CAST(N'2026-05-18T16:22:47.127' AS DateTime), N'Đặt sân')
INSERT [dbo].[HoaDon] ([MaHoaDon], [MaLichDat], [MaKhachHang], [MaNV], [NgayTao], [TrangThai]) VALUES (N'003', N'003', N'003', N'PDH', CAST(N'2026-06-18T16:45:50.270' AS DateTime), N'Đặt sân')
GO
INSERT [dbo].[LichDat] ([MaLichDat], [MaKhachHang], [MaSan], [ThoiGianBatDau], [ThoiGianKetThuc], [TrangThai]) VALUES (N'001', N'002', N'ls_1', CAST(N'2026-05-19T21:15:00.000' AS DateTime), CAST(N'2026-05-19T22:15:00.000' AS DateTime), N'Đã xong')
INSERT [dbo].[LichDat] ([MaLichDat], [MaKhachHang], [MaSan], [ThoiGianBatDau], [ThoiGianKetThuc], [TrangThai]) VALUES (N'002', N'002', N'gtvt_1', CAST(N'2026-05-20T22:22:00.000' AS DateTime), CAST(N'2026-05-20T23:22:00.000' AS DateTime), N'Đã xong')
INSERT [dbo].[LichDat] ([MaLichDat], [MaKhachHang], [MaSan], [ThoiGianBatDau], [ThoiGianKetThuc], [TrangThai]) VALUES (N'003', N'003', N'gtvt_1', CAST(N'2026-06-20T20:45:00.000' AS DateTime), CAST(N'2026-06-20T23:45:00.000' AS DateTime), N'Đã đặt')
GO
INSERT [dbo].[LoaiCoSo] ([MaLoaiCS], [TenLoaiCS]) VALUES (N'bongDa', N'Bóng đá')
INSERT [dbo].[LoaiCoSo] ([MaLoaiCS], [TenLoaiCS]) VALUES (N'bongRo', N'Bóng rổ')
INSERT [dbo].[LoaiCoSo] ([MaLoaiCS], [TenLoaiCS]) VALUES (N'cauLong', N'Cầu lông')
GO
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [NgaySinh], [GioiTinh], [SDT], [Email], [CCCD], [MaQTV]) VALUES (N'BDT', N'Bùi Đức Thắng', CAST(N'1999-02-12' AS Date), N'Nam', N'0943211011', N'ducthang@gmail.com', N'034099003616', NULL)
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [NgaySinh], [GioiTinh], [SDT], [Email], [CCCD], [MaQTV]) VALUES (N'CDC', N'Chu Chính Đình', CAST(N'1995-05-14' AS Date), N'Nam', N'0932564155', N'chudinhchinh@gmail.com', N'0011547551', NULL)
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [NgaySinh], [GioiTinh], [SDT], [Email], [CCCD], [MaQTV]) VALUES (N'CDCN_NV_1', N'Võ Minh Kha', CAST(N'2003-06-03' AS Date), N'Nam', N'0903654735', N'khavo0603@gmail.com', N'001234567899', NULL)
GO
SET IDENTITY_INSERT [dbo].[PhanCong] ON 

INSERT [dbo].[PhanCong] ([MaPC], [MaNV], [MaCS], [GhiChu]) VALUES (1, N'LGA', N'lt_f', N'')
INSERT [dbo].[PhanCong] ([MaPC], [MaNV], [MaCS], [GhiChu]) VALUES (2, N'PDD', N'lt_f', N'')
INSERT [dbo].[PhanCong] ([MaPC], [MaNV], [MaCS], [GhiChu]) VALUES (3, N'PHD', N'pd', N'')
SET IDENTITY_INSERT [dbo].[PhanCong] OFF
GO
INSERT [dbo].[PhanQuyen] ([MaQTV], [MaQuyen], [GhiChu]) VALUES (N'Admin', N'Sua', NULL)
INSERT [dbo].[PhanQuyen] ([MaQTV], [MaQuyen], [GhiChu]) VALUES (N'Admin', N'Them', NULL)
INSERT [dbo].[PhanQuyen] ([MaQTV], [MaQuyen], [GhiChu]) VALUES (N'Admin', N'XemDanhSach', NULL)
GO
INSERT [dbo].[QuanTriVien] ([MaQTV], [LoaiQTV], [TenDangNhap], [MatKhau]) VALUES (N'Admin', N'Admin', N'admin', N'admin1234')
INSERT [dbo].[QuanTriVien] ([MaQTV], [LoaiQTV], [TenDangNhap], [MatKhau]) VALUES (N'NhanVien', N'Nhân viên', N'nhanvien', N'nhanvien123')
GO
INSERT [dbo].[Quyen] ([MaQuyen], [TenQuyen]) VALUES (N'Sua', N'Sửa')
INSERT [dbo].[Quyen] ([MaQuyen], [TenQuyen]) VALUES (N'Them', N'Thêm')
INSERT [dbo].[Quyen] ([MaQuyen], [TenQuyen]) VALUES (N'XemDanhSach', N'Xem danh sách')
GO
INSERT [dbo].[San] ([MaSan], [SoSan], [GiaSan], [MaDanhMuc]) VALUES (N'BT_1', 1, 50000, N'CL_Don_BT')
INSERT [dbo].[San] ([MaSan], [SoSan], [GiaSan], [MaDanhMuc]) VALUES (N'BT_2', 2, 80000, N'CL_Doi_BT')
INSERT [dbo].[San] ([MaSan], [SoSan], [GiaSan], [MaDanhMuc]) VALUES (N'BT_3', 3, 80000, N'CL_Doi_BT')
GO
INSERT [dbo].[TaiKhoan] ([MaTK], [MaKH], [username], [password]) VALUES (N'002', N'002', N'nhathieu', N'123456Ab')
INSERT [dbo].[TaiKhoan] ([MaTK], [MaKH], [username], [password]) VALUES (N'003', N'003', N'TranNhatHieu', N'123456Ab')
GO
INSERT [dbo].[user_KhachHang] ([MaKH], [username], [password], [HoTen], [SoDienThoai], [Email]) VALUES (N'002', N'nhathieu', N'123456Ab', N'nhathieu', N'0987654321', N'nguyennhathieu@gmail.com')
INSERT [dbo].[user_KhachHang] ([MaKH], [username], [password], [HoTen], [SoDienThoai], [Email]) VALUES (N'003', N'TranNhatHieu', N'123456Ab', N'TranNhatHieu', N'0987654321', N'TranNhatHieu@gmail.com')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__QuanTriV__55F68FC0EC49B0AD]    Script Date: 06/18/2026 04:47:43 PM ******/
ALTER TABLE [dbo].[QuanTriVien] ADD UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__user_Kha__F3DBC57233E3D4F1]    Script Date: 06/18/2026 04:47:43 PM ******/
ALTER TABLE [dbo].[user_KhachHang] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CoSo]  WITH CHECK ADD FOREIGN KEY([MaLoaiCS])
REFERENCES [dbo].[LoaiCoSo] ([MaLoaiCS])
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HoaDon] ([MaHoaDon])
GO
ALTER TABLE [dbo].[DanhMucSan]  WITH CHECK ADD FOREIGN KEY([MaCS])
REFERENCES [dbo].[CoSo] ([MaCS])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[user_KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaLichDat])
REFERENCES [dbo].[LichDat] ([MaLichDat])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[LichDat]  WITH CHECK ADD FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[user_KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[LichDat]  WITH CHECK ADD FOREIGN KEY([MaSan])
REFERENCES [dbo].[San] ([MaSan])
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD FOREIGN KEY([MaQTV])
REFERENCES [dbo].[QuanTriVien] ([MaQTV])
GO
ALTER TABLE [dbo].[San]  WITH CHECK ADD FOREIGN KEY([MaDanhMuc])
REFERENCES [dbo].[DanhMucSan] ([MaDanhMuc])
GO
USE [master]
GO
